{% load static %}
<!-- Header -->
<header class="header1">
	<!-- Header desktop -->
	<div class="container-menu-header">
		<div class="wrap_header">
			<div class="header-aligner">
				<!-- Logo -->
				<div class="header-logo">
					<a href="/" class="logo">
						<img src="{% static "images/icons/logo.png" alt="%}" IMG-LOGO">
					</a>
				</div>
				<!-- Menu -->
				<span class="header-divide"></span>
				<div class="wrap-menu">
					<div class="menu">
						<form action="#">
							<form action="{% url "products:products_list" %}" method="get">
								<div id="search-container" class="bo4">
									<input name="search" type="search" id="search" class="s-text7 size1 p-l-23 p-r-50" placeholder="I'm looking for...">
								</div>
								<button type="submit" href="#" id="search-icon" class="fa fa-search" />
							</form>
						</form>
					</div>
				</div>
				<span class="header-divide"></span>

				<!-- Header Icon -->
				<div class="wrap-icons">
					<div class="header-icons">
                        <p>{{ user }}</p>
						<span class="divide1"></span>
						<img src="{% static "images/icons/icon-header-01.png" class="header-%}" icon1" alt="ICON">

						<span class="linedivide1"></span>

						<a href="/orders" class="header-wrapicon1 dis-block" data-toggle="tooltip" title="My Orders">
							<img src="{% static "images/icons/icon-header-03.png" class="header-%}" icon1" alt="ICON">
						</a>

						<span class="linedivide1"></span>

						<a href="/cart" class="header-wrapicon1 dis-block" data-toggle="tooltip" title="My Cart">
							<img src="{% static "images/icons/icon-header-02.png" class="header-%}" icon1" alt="ICON">
							<span class="header-icons-noti">0</span>
						</a>
						<span class="linedivide1"></span>

						<a href="/logout" class="header-wrapicon1 dis-block" data-toggle="tooltip" title="Logout">
							<img src="{% static "images/icons/door.png" class="header-%}" icon1" alt="ICON">
						</a>
					</div>
				</div>
			</div>	
		</div>
	</div>
	<div class="wrap_header_mobile">
		<!-- Logo moblie -->
		<a href="index.html" class="logo-mobile">
			<img src="{% static "images/icons/logo.png" alt="%}" IMG-LOGO">
		</a>

		<!-- Button show menu -->
		<div class="btn-show-menu">
			<!-- Header Icon mobile -->
			<div class="header-icons-mobile">
	            <p>{{ user }}</p>
				<span class="divide1"></span>
				<a href="#" class="header-wrapicon1 dis-block" data-toggle="tooltip" title="My Account">
					<img src="{% static "images/icons/icon-header-01.png" class="header-%}" icon1" alt="ICON">
				</a>

				<span class="linedivide1"></span>

				<a href="/orders" class="header-wrapicon1 dis-block" data-toggle="tooltip" title="My Orders">
					<img src="{% static "images/icons/icon-header-03.png" class="header-%}" icon1" alt="ICON">
				</a>

				<span class="linedivide1"></span>

				<a href="/cart" class="header-wrapicon1 dis-block" data-toggle="tooltip" title="My Cart">
					<img src="{% static "images/icons/icon-header-02.png" class="header-%}" icon1" alt="ICON">
					<span class="header-icons-noti">0</span>
				</a>
			</div>
		</div>
		<div class="container flex-r p-t-8 p-b-8">
			<div class="wrap-menu">
				<div class="menu">
					<form action="#">
						<div id="search-container" class="bo4">
							<input type="search" id="search" class="s-text7 size1 p-l-23 p-r-50" placeholder="I'm looking for...">
						</div>
						<button href="#" id="search-icon" class="fa fa-search"></a>
					</form>
				</div>
			</div>
		</div>
	</div>

</header>
