{% extends 'base/base.html' %}

{% block content %}
{% load static %}

<!-- Content page -->
<section class="p-b-65">
	<div class="container">
		<div class="row">

			<div class="col-sm-6 col-md-4 col-lg-3 p-b-50">
				<div class="leftbar p-r-20 p-r-0-sm">
					<!--of-hidden-->
					<h4 class="m-text14 p-b-7">
						Categories
					</h4>
					<ul class="p-b-54">
						<li class="p-t-4">
							<a href="#" class="s-text13 active1">
								All
							</a>
						</li>
						{% for category in categories %}
						<li class="p-t-4">
							<a href="/{{category.slug}}" class="s-text13">
								{{category.name|capfirst}}
							</a>
						</li>
						{% endfor %}
					</ul>

					<!--of-hidden-->
					<h4 class="m-text14 p-b-32">
						Filters
					</h4>

					<div class="filter-price p-t-22 p-b-50 bo3">
						<div class="m-text15 p-b-17">
							Price
						</div>

						<div class="wra-filter-bar">
							<div id="filter-bar"></div>
						</div>

						<div class="flex-sb-m flex-w p-t-16">
							<div class="w-size11">
								<!-- Button -->
								<button class="flex-c-m size4 bg7 bo-rad-15 hov1 s-text14 trans-0-4">
									Filter
								</button>
							</div>

							<div class="s-text3 p-t-10 p-b-10">
								Range: $<span id="value-lower">0</span> - $<span id="value-upper">1000</span>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-sm-6 col-md-8 col-lg-9 p-b-50">
				<!--of-hidden-->
				<div class="flex-sb-m flex-w p-b-35">
					<div class="flex-w">
						<!-- <div class="rs2-select2 bo4 w-size12 m-t-5 m-b-5 m-r-10">
							<select class="selection-2" name="sorting">
								<option>Default Sorting</option>
								<option>Popularity</option>
								<option>Price: low to high</option>
								<option>Price: high to low</option>
							</select>
						</div>

						<div class="rs2-select2 bo4 w-size12 m-t-5 m-b-5 m-r-10">
							<select class="selection-2" name="sorting">
								<option>Price</option>
								<option>$0.00 - $50.00</option>
								<option>$50.00 - $100.00</option>
								<option>$100.00 - $150.00</option>
								<option>$150.00 - $200.00</option>
								<option>$200.00+</option>

							</select>
						</div> -->
					</div>

					<span class="s-text8 p-t-5 p-b-5">
						Showing {{ products.start_index }}–{{ products.end_index }} of {{products.paginator.count}} results
					</span>
				</div>

				<!-- Product -->
				<div class="row">
					{% for product in products %}
					<div class="col-sm-12 col-md-6 col-lg-4 p-b-50">
						<!-- Block2 -->
						<div class="block2">
							<div class="block2-img wrap-pic-w of-hidden pos-relative">
								<a href="/{{product.id}}/{{product.slug}}">
									<img src="{{product.image.url}}" alt="IMG-PRODUCT">
								</a>
							</div>

							<div class="block2-txt p-t-20">
								<a href="/{{product.id}}/{{product.slug}}" class="block2-name dis-block s-text3 p-b-5">
									{{product.name}}
								</a>

								<span class="block2-price m-text6 p-r-5">
									${{product.price}}
								</span>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>

				<!-- Pagination -->
				<div class="pagination flex-m flex-w p-t-26">
    				{% for i in products.paginator.page_range %}
	    				{% if products.number == i %}
							<a href="?page={{ i }}" class="item-pagination flex-c-m trans-0-4 active-pagination">{{ i }}</a>
					    {% else %}
							<a href="?page={{ i }}" class="item-pagination flex-c-m trans-0-4">{{ i }}</a>
					    {% endif %}
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}
