{% extends 'base/base.html' %}
{% load static %}
{% block title %}
    Orders - PetVet
{% endblock %}

{% block content %}
<!-- Content page -->
<section class="cart p-b-100">
	<div class="container">
		{% for order in orders %}
		<div class="flex-str p-t-15 p-t-25 p-b-25 sm-column">
			<div class="bg-white bo9 w-size6 sm-sizefull p-t-15 p-t-25 p-b-25 p-l-35 p-r-35 p-lr-15-sm" style="background-color: green;margin-right: 10px;">
				<h3 class="m-text23 t-center p-b-15">Packing</h3>
				<img class="w-full"src="{% static "images/icons/package-for-delivery.svg" %}" alt="Packing">
				<div class="flex-w flex-sb-m p-t-26 p-b-30 flex-row">
					<div class="w-full">
						<span class="m-text22 w-full-sm">
							Arrives:
						</span>
						<div class="m-text21 w-full-sm r-text">
							{{order.get_arrival}}
						</div>
					</div>
					<div class="w-full">
						<span class="m-text22 w-full-sm">
							At:
						</span>
						<div class="m-text21 w-full-sm r-text">
							18:00
						</div>
					</div>
				</div>
			</div>
			<div class="w-full">
				<!-- Cart item -->
				
				<div class="container-table-cart pos-relative">

					<div class="flex-w wrap-table-shopping-cart">					
						<table class="table-shopping-cart">
							<tr class="table-head">
								<th class="p-t-25 p-b-25 p-l-35 p-r-60 p-lr-15-sm"></th>
								<th class="column-2">Product</th>
								<th class="column-4 r p-t-25 p-b-25 p-l-35 p-r-60 p-lr-15-sm">Total</th>
							</tr>
							{% for product in order.get_items %}
							<tr class="table-row bg-white">
								<td class="column-1 p-t-25 p-b-25 p-l-35 p-r-60 p-lr-15-sm">
									<div class="cart-img-product b-rad-4 o-f-hidden">
										<img src="{{product.get_image_url}}" alt="IMG-PRODUCT">
									</div>
								</td>
								<td class="column-2">
									<div class="m-text23">
										{{product.name}}
									</div>
									<div class="s-text13">
										${{product.price}}
									</div>
									<div class="p-t-15 block">
										<div class="flex-w of-hidden">
											Quantity: {{product.quantity}}							
										</div>
									</div>
								</td>
								<td class="column-4 r p-t-25 p-b-25 p-l-35 p-r-60 p-lr-15-sm">${{product.get_cost}}</td>
							</tr>

							{% endfor %}
						</table>
					</div>
				</div>

				<div class="bg-white p-t-25 p-b-25 bo8 p-l-35 p-r-60 p-lr-15-sm">
					<!--  -->
					<div class="flex-w flex-sb-m p-t-26 p-b-30">
						<span class="m-text22 w-size19 w-full-sm">
							Total:
						</span>

						<span class="m-text21 w-size20 w-full-sm r-text">
							${{order.get_total_cost}}
						</span>
					</div>
				</div>

				<!-- Total -->
				
			</div>

		</div>
        {% empty %}
            <div>
                <p>No orders yet!</p>
            </div>
		{% endfor %}

	</div>
	</div>
</section>

{% endblock %}
