{% load static %}
<!-- Footer -->
<footer class="bgblack p-t-8 p-b-8 p-l-45 p-r-45">
	<div class="t-center p-l-15 p-r-15">
		<div class="t-center s-text8 text-white">
			Copyright © 2019 All rights reserved.
		</div>
	</div>
</footer>



<!-- Back to top -->
<div class="btn-back-to-top bg0-hov" id="myBtn">
	<span class="symbol-btn-back-to-top">
		<i class="fa fa-angle-double-up" aria-hidden="true"></i>
	</span>
</div>

<!-- Container Selection1 -->
<div id="dropDownSelect1"></div>

{% include 'base/footer/js.html' %}

