{% load static %}
<!doctype html>
<html lang="en">
  <head>
    {% include 'base/head/_head.html' %}
    <link href="{% static "css/floating-labels.css" %}"  rel="stylesheet">
    <title>Home</title>
</head>

  <body>
    <form class="form-signin" method="POST">{% csrf_token %}
      <div class="text-center mb-4">
        <img class="mb-4" src="{% static "images/petvet.svg" %}" alt="PetVet">
           {% for message in messages %}

            <div class="alert alert-danger">
                {{ message }}
            </div>
            {% endfor %}  
        {{ form.non_field_errors }}
        <h1 class="h3 mb-3 font-weight-normal"><strong>Welcome Back!</strong></h1>
      </div>
      <div class="form-label-group bo4">
        {{form.username.errors}}
        {{form.username}}
        <label for="{{ form.username.id_for_label }}" class="s-text7">Username</label>
      </div>

      <div class="form-label-group bo4">
        {{form.password.errors}}
        {{form.password}}
        <label for="{{ form.password.id_for_label }}" class="s-text7">Password</label>
      </div>

      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button type="submit" class="flex-c-m size2 bg4 bo-rad-23 hov1 m-text3 trans-0-4">
              Log In
      </button> 
      <p class="mt-5 mb-3 text-muted text-center">
       First time here? No need to worry!
      </p>
      <a href="/registration" class="flex-c-m size2 bg4 bo-rad-23 hov1 m-text3 trans-0-4">
          Sign Up
        </a>
      <p class="mt-5 mb-3 text-muted text-center">Copyright &copy; 2019 All rights reserved.</p>
    </form>
  </body>
</html>














   