{% load static %}
<!doctype html>
<html lang="en">
  <head>
    {% include 'base/head/_head.html' %}
    <link href="{% static "css/floating-labels.css" %}"  rel="stylesheet">
    <title>Home</title>
</head>

  <body>
    <form class="form-signin" action="{{ form.path }}" method="POST">{% csrf_token %}
      <div class="text-center mb-4">
        <img class="mb-4" src="{% static "images/petvet.svg" %}" alt="PetVet">
        <h1 class="h3 mb-3 font-weight-normal"><strong>Welcome Back!</strong></h1>
      </div>
      {% if form.non_field_errors %}
        <div class="non-field-errors">
          {% for err in form.non_field_errors %}
            <p class="alert alert-danger">{{ err }}</p>
          {% endfor %}
        </div>
      {% endif %}
      
      <div class="form-label-group bo4">
        {{form.username}}
        {{form.username.errors}}
        <label for="{{ form.username.id_for_label }}" class="s-text7">Username</label>
      </div>

      <div class="form-label-group bo4">
        {{form.password}}
        {{form.password.errors}}
        <label for="{{ form.password.id_for_label }}" class="s-text7">Password</label>
      </div>

      <div class="form-label-group bo4">
        {{form.password2}}
        {{form.password2.errors}}
        <label for="{{ form.password2.id_for_label }}" class="s-text7">Confirm Password</label>
      </div>

      <div class="form-label-group bo4">
        {{form.email}}
        {{form.email.errors}}
        <label for="{{ form.email.id_for_label }}" class="s-text7">Email Address</label>
      </div>

      <button type="submit" class="flex-c-m size2 bg4 bo-rad-23 hov1 m-text3 trans-0-4">
              Sign up
      </button> 
      <p class="mt-5 mb-3 text-muted text-center">
       Already a member? Instead,
      </p>
      <a href="/login" class="flex-c-m size2 bg4 bo-rad-23 hov1 m-text3 trans-0-4">
        Log In
      </a>
      <p class="mt-5 mb-3 text-muted text-center">Copyright &copy; 2019 All rights reserved.</p>
    </form>
  </body>
</html>